[submodule "kubuntu/konsole/nareshv"]
	path = kubuntu/konsole/nareshv
	url = git@github.com:nareshv/kde-konsole-colorschemes.git
[submodule "kubuntu/konsole/dracula"]
	path = kubuntu/konsole/dracula
	url = git@github.com:dracula/konsole.git
[submodule "kubuntu/bash/powerline-shell"]
	path = kubuntu/bash/powerline-shell
	url = git@github.com:b-ryan/powerline-shell.git
